.top-header {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 8.8rem;
  font-size: 1.4rem;
  z-index: 100000 !important;
}

.top-header__email {
  color: var(--primary-color); /* Yellow accent */
  text-decoration: none;
}

.top-header__right a {
  color: black;
  margin-left: 1.2rem;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.top-header__right a:hover {
  color: black;
}


.top-header__right svg{
   width: 2rem;
}

@media (max-width: 768px) {
  .top-header {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    display: none;
  }
}
